* {
  box-sizing: border-box;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Giants-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --gray100: #f2f2f2;
  --gray200: #d9d9d9;
  --gray300: #808080;
  --gray400: #333333;
  --gray500: #262626;
  --gray600: #1a1a1a;
  --gray700: #0d0d0d;
  --purple: #8284fa;
  --purpledark: #5e60ce;
  --blue: #4ea8de;
  --bluedark: #1e6f9f;
  --danger: #e25858;
  --mw: 800px;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--gray600);
  color: var(--gray100);
  font-family: "S-CoreDream-3Light";
}

header {
  height: 200px;
  background-color: var(--gray700);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

header h1 {
  font-family: "Giants-Bold";
  font-size: 2rem;
}

header h1::before {
  content: "\f135";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: var(--purpledark);
  display: inline-block;
  transform: rotate(-45deg) translate(-4px, -4px);
}

header span:first-of-type {
  color: var(--blue);
}

header span:last-of-type {
  color: var(--bluedark);
}

/*  */
main {
  max-width: var(--mw);
  width: calc(100% - 4rem);
  margin: auto;
}

.textInput {
  display: flex;
  gap: 1rem;
  position: relative;
  top: -2rem;
}

.textInput input,
.textInput button {
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
}

.textInput input {
  background-color: var(--gray500);
  color: var(--gray100);
  flex-grow: 1;
}

.textInput input:focus {
  background-color: var(--gray400);
}

.textInput button {
  background-color: var(--blue);
  color: var(--gray100);
}

.textInput button:hover,
.textInput button:focus {
  background-color: var(--bluedark);
}

@media (max-width: 500px) {
  .textInput {
    flex-direction: column;
  }
}

.total {
  text-align: right;
  font-size: 0.75rem;
  color: var(--purpledark);
  margin-bottom: 1rem;
}

.total span {
  display: inline-block;
  background-color: var(--gray300);
  color: var(--gray100);
  padding: 0.2em 0.5em;
  border-radius: 50%;
}

.list li {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--gray500);
  margin-bottom: 1rem;
  border: 1px solid var(--gray400);
  border-radius: 0.5rem;
}

.list li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem 2rem;
}

.list li i {
  display: inline-block;
  padding: 1rem;
  transition: 0.5s;
}

.list li i:hover {
  color: var(--danger);
}
.popup {
  /*background-color: var(--gray100);*/
  background-color: rgba(255,255,255,0.8);
  backdrop-filter: blur(5px);/*toggle클릭시 메인페이지 불투명하게 설정*/
  padding: 3rem;
  color: var(--gray700);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;/*여기까지*/
}
